.container {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

.acento{
    color: #19A7CE;
}

.containerp {
    display: flex;
    align-items: center; /* Alinear contenido verticalmente */
    padding: 20px;
    border: solid 2px rgb(0, 183, 255);;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.containerp:hover{
    border: solid 2px rgb(0, 183, 255);;
}

.containerp img {
    max-width: 500px; /* Ancho máximo de la imagen */
    height: 400px; /* Altura automática */
    margin-right: 20px; /* Espacio a la derecha de la imagen */
}
.containerp .text {
    flex: 1; /* Que el texto ocupe todo el espacio restante */
    font-size: 18px;
}

@media (max-width: 768px) {
    .containerp {
        flex-direction: column; /* Cambiar a disposición vertical en pantallas pequeñas */
    }
    .containerp img {
        margin-right: 0; /* Eliminar margen derecho en disposición vertical */
        margin-bottom: 10px; /* Agregar espacio debajo de la imagen */
    }
}


/* Boton */



.Btn {
    padding: 10px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition-duration: 0.3s;
  }
  
  .svgIcon {
    fill: #2196f3;
  }
  
  .icon2 {
    width: 18px;
    height: 5px;
    border-bottom: 2px solid #2196f3;
    border-left: 2px solid #2196f3;
    border-right: 2px solid #2196f3;
  }
  
  .tooltip {
    position: absolute;
    top: -50px;
    opacity: 0;
    background-color: rgb(12, 12, 12);
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.2s;
    pointer-events: none;
    letter-spacing: 0.5px;
  }
  
  .tooltip::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: rgb(12, 12, 12);
    background-size: 1000%;
    background-position: center;
    transform: rotate(45deg);
    bottom: -5%;
    transition-duration: 0.3s;
  }
  
  .Btn:hover .tooltip {
    opacity: 1;
    transition-duration: 0.3s;
  }
  
  .Btn:hover {
    background-color: rgb(0, 183, 255);
    transition-duration: 0.3s;
  }
  
  .Btn:hover .icon2 {
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
  }
  
  .Btn:hover .svgIcon {
    fill: white;
    animation: slide-in-top 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-10px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }