* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin-left: 30px;
    margin-right: 30px;
    /*background-color: rgb(30, 30, 30); */
    background-color: white;
}

.titulo{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 40px;
}

.titulo .acento{
    color: #19A7CE;
    text-align: center;
    margin-left: 14px;
}

/*CSS del contenedor de cada usuario */
.usuario {
    border: 2px solid #19A7CE;
    margin: 10px;
    padding: 10px;
    background-color: #ffffff;
    width: 400px;
}

#contenedor-usuarios{
    display: flex;
    justify-content: center;
}

/*Nombre usuario*/
.nombre-container {
    display: flex;
    align-items: center;
    height: 30px;
}

.nombre-container p{
    color: #000000;
}

.nombre-titulo {
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-right: 5px;
}

/*Correo usuario*/
.correo-container {
    display: flex; 
    align-items: center;
    height: 30px;
}

.correo-titulo {
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-right: 5px;
}

.btn-container{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    margin-top: 30px;
}

.btn-aprobar{
    background-color: #4CAF50; /* Verde */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 20px;
    cursor: pointer;
    border-radius: 4px;
}

.btn-aprobar:hover{
    background-color: #45a049; /* Verde más oscuro al pasar el ratón */
}

.btn-aprobar:focus{
    outline: none; /* Quita el contorno al enfocar el botón */
}

.btn-rechazar{
    background-color: #b92020; /* Rojo */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 20px;
    cursor: pointer;
    border-radius: 4px;
}

.btn-rechazar:hover{
    background-color: #961919; /* Rojo más oscuro al pasar el ratón */
}

.btn-rechazar:focus{
    outline: none; /* Quita el contorno al enfocar el botón */
}