* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(30, 30, 30);
}

/*CSS del contenedor de cada usuario */
.usuario {
    border: 1px solid #0bd6dd;
    margin: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    width: 800px;
}

#contenedor-usuarios{
    display: flex;
}

/*Nombre usuario*/
.nombre-container {
    display: flex;
    align-items: center;
    height: 30px;
}

.nombre-container p{
    color: #000000;
}

.nombre-titulo {
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-right: 5px;
}

/*Correo usuario*/
.correo-container {
    display: flex; 
    align-items: center;
    height: 30px;
}

.correo-titulo {
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-right: 5px;
}