* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.7em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.25em;
}

ul {
    list-style: none;
}

li {
    font-size: 1.25em;
}

.container {
    max-width: 1400px;
    margin: auto;
}

.color-acento {
    color: #19A7CE;
    text-align: center;
}

#Info .container {
    text-align: justify;
    padding: 27px 12px;
}

footer {
    background-color: rgb(30, 30, 30);
}

footer p {
    margin: 0;
    padding: 12px;
    color: white;
}

footer .container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* CELULARES  */
@media (min-width: 767px) {

    #Info h2 {
        font-size: 5.0em;
    }

    #Info p {
        text-align: justify;
        margin-left: 35px;
        margin-right: 35px;
    }

    footer .container {
        justify-content: flex-end;
        font-size: 2.5em;
    }

}

/* Computadoras project */
@media (min-width: 1024px){

    #Info .container {
        display: flex;
        justify-content: space-evenly;
    }

    #Info .texto {
        width: 50%;
        max-width: 600px;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;
    }

    #Info h2 {
        margin-top: 0px;
        text-align: center;
        font-size: 2.5em;
    }

    #Info .img-container {
        background-image: url("media/MockupRT.jpg");
        background-size: cover;
        background-position: center center;
        width: 360px;
        height: 620px;
        margin-top: 70px;
    }

    footer .container {
        justify-content: flex-end;
        font-size: 1em;
    }

}


/* Pantalla GRANDE */
@media (min-width: 1669px){

    footer .container {
        justify-content: flex-end;
        font-size: 1em;
        margin-top: 96px;
    }

}